@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,500;1,400&display=swap');
body{
    background-image: url(bg.png);
    background-size: contain;
    color: rgba(21, 19, 19, 0.8);
    margin: 0;
    padding: 0;
}
h1{
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Fredoka One',cursive;
}
p{
    font-family: 'PT sans',sans-serif;
}
.help{
    font-family: 'Source Code Pro', sans-serif;
    background-color: rgba(255,255,255,0.2);
    border-bottom: rgba(255,255,255,0.8) solid 1px;
}
.app{
    display: flex;

}
#instructions{
    padding: 30px;
    width: 50%;
}
#pond{
    position: relative;
    background-color: rgb(31,87,104,0.2);
    width: 50vw;
    height: 50vw;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
}
.editor{
    position: relative;

    background-color: rgb(224, 224, 224,0.2);
    height: 260px;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(119, 119, 199);
    overflow: hidden;
}
.line-numbers{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(153,153,213);
    color: rgb(213,213,213);
    padding: 10px 6px;
    height: 100%;
}
pre{
    margin: 0;
}
textarea{
    height: 44px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    margin-left: 26px;
    width: 90%;
}
button{
    background-color: rgba(209,22,6);
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255,255,255);
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
#forefront{
    display: flex;
    z-index: 1;
position: absolute;
left: 0;
top: 0;
width: 95%;
height: 95%;
padding: 2.5%;
}
#background{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.lily-container, .frog-container{
    width: 20%;
    height: 20%;
}
.lily, .frog{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.lily.green{
    background-image: url('lilypad-green.svg');

}
.lily.red{
    background-image: url('lilypad-red.svg');
}
.lily.yellow{
    background-image: url(lilypad-yellow.svg);
}
.frog.green{
    background-image: url(frog-green.svg);
}
.frog.red{
    background-image: url(frog-red.svg);
}
.frog.yellow{
    background-image: url(frog-yellow.svg);
}
